<!DOCTYPE html>
<html>
  <head><title>Login - <%= tenant %></title></head>
  <body>
    <h1>Login - <%= tenant %></h1>
    <form method="POST" action="/login" id="loginForm">
      <input type="hidden" name="tenant" value="<%= tenant %>" />
      <input type="hidden" name="returnUrl" value="<%= returnUrl %>" />
      <input autocomplete="email" name="email" placeholder="email" required />
      <input autocomplete="current-password" name="password" type="password" placeholder="password" required />
      <button type="submit">Login</button>
    </form>
  </body>
</html>